---
title: Projeto C
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <h1>Linguagem C, Projetos</h1>
        <section>
            <article id="article2" class="articles">
                <h5>Estrutura de Dados: Fila</h5>
            </article>
            <article id="article1" class="articles">
                <h5>Calculadora Simples em C</h5>
            </article>
        </section>
    </main>
    {% include footer.html %}
    <script>
        src = "scripts.js"
        <!--Insere scripts pessoais-->
    </script>
</body>

</html>