---
title: Projeto C
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main id="cPage">
        <h1>Linguagem C, Projetos</h1>
        <div class="expandable">
            <div class="expandable__title-bar">
                <span class="expandable__title">Matriz dinamica</span>
                <ion-icon class="expandable__icon" name="chevron-back"></ion-icon>
            </div>
            <div class="expandable__content-wrapper">
                <div class="expandable__content">
                    <script src="//onlinegdb.com/embed/js/TvTEAEdbY?theme=dark"></script>
                </div>
            </div>
        </div>
        <div class="expandable">
            <div class="expandable__title-bar">
                <span class="expandable__title">Matriz simples</span>
                <ion-icon class="expandable__icon" name="chevron-back"></ion-icon>
            </div>
            <div class="expandable__content-wrapper">
                <div class="expandable__content">
                    <script src="//onlinegdb.com/embed/js/8vS1k8rMH?theme=dark"></script>
                </div>
            </div>
        </div>
        <div class="expandable">
            <div class="expandable__title-bar">
                <span class="expandable__title">Vetor lados de um objeto geometrico</span>
                <ion-icon class="expandable__icon" name="chevron-back"></ion-icon>
            </div>
            <div class="expandable__content-wrapper">
                <div class="expandable__content">
                    <script src="//onlinegdb.com/embed/js/4AufYXy1w?theme=dark"></script>
                </div>
            </div>
        </div>
        <div class="expandable">
            <div class="expandable__title-bar">
                <span class="expandable__title">Criar Vetor e Imprimir o Resultado</span>
                <ion-icon class="expandable__icon" name="chevron-back"></ion-icon>
            </div>
            <div class="expandable__content-wrapper">
                <div class="expandable__content">
                    <script src="//onlinegdb.com/embed/js/kYCas1mdT?theme=dark"></script>
                </div>
            </div>
        </div>

    </main>
    {% include footer.html %}
</body>

</html>