---
title: Contato
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="wrapper">
        <div class="content">
            <h1>Formulário de Contato</h1>
            <form id="form">
                <div>
                    <input type="text" class="inputs" placeholder="Nome completo" required >
                    <span class="spanRequired">Nome deve ter no mínimo 5 caracteres.</span>
                </div>
                <div>
                    <input type="email" class="inputs" placeholder="exemplo@exemplo.com" required>
                    <span class="spanRequired">Digite um email válido.</span>
                </div>
                <div>
                    <input type="text" class="inputs" placeholder="Assunto" required>
                    <span class="spanRequired">Digite um assunto.</span>
                </div>
                <textarea class="inputs" name="descricao" id="descricao" cols="25" rows="10" placeholder="Descrição" required></textarea>
                <div><p>Conhecimentos Relevantes</p></div>
                <div class="boxSelect">
                    <input type="checkbox" id="c" value="c" name="conhecimentos">
                    <label for="c">Linguagem C</label>
                    <input type="checkbox" id="java" value="java" name="conhecimentos">
                    <label for="java">Linguagem Java</label>
                    <input type="checkbox" id="csharp" value="csharp" name="conhecimentos">
                    <label for="csharp">Linguagem C#</label>
                    <input type="checkbox" id="htmlcss" value="htmlcss" name="conhecimentos">
                    <label for="htmlcss">Linguagem HTML & CSS</label>
                    <input type="checkbox" id="js" value="js" name="conhecimentos">
                    <label for="js">Linguagem JS</label>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>