---
title: Estudos
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="wrapper">
    <session id="projetosMainBody">
        <h1 id="tituloProjetos"></h2>
        <p>Atualmente estou aperfeiçoando minhas habilidades nas seguintes competências técnicas:</p>
        <ul id="listaProjetos">
            <li><a href="uni.html">Graduação em Engenharia de Software</a></li>
            <li><a href="c.html">C</a></li>
            <li><a href="frontend.html">Front-End</a></li>
            <li><a href="Csharp.html">C#</a></li>
            <li><a href="Java.html">Java</a></li>
        </ul>
    </session>
    </div>
    {% include footer.html %}
</body>