---
title: Home
---
<!DOCTYPE html>
<html lang="pt-br">
<!--Define a linguagem do website para a Lingua Portuguesa-->

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="wrapper">
        <br> <!--Quebra de linha-->
        <main>
            <session id="mainPage">
                <div id="msgInicial">
                    <ul id="textMsgInicial">
                        <li>Olá,</li>
                        <li>Eu sou <span style="color: #BF281B;">José Lucas</span></li>
                        <li>um Engenheiro de Software.</li>
                        <li><a id="botaoContato" href="contato.html">Vamos entrar em contato!</a></li>
                    </ul>
                </div>
                <div id="textoSecundario">
                    <p class="textoStatusAtual">Relativamente iniciante na área de Engenharia de Software,</p>
                    <p class="textoStatusAtual">estudando, atualmente, C e Front-End.</p>
                    <p class="textoStatusAtual">Principalmente cursando Engenharia de Software pela UniCesumar</p>
                </div>
            </session>
        </main>
        <br>
    </div>
    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"
        integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D"
        crossorigin="anonymous"></script>
    <!--Insere Scripts do Bootstrap-->
    <script>
        src = "scripts.js"
        <!--Insere scripts pessoais-->
    </script>
</body>

</html>