---
title: Projeto Java
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <nav>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="projetos.html">Projetos</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
        <h2><strong>Início</strong></h2>
    </nav>
    <br> <!--Quebra de linha-->
    <main>

        <h4>Projeto Java</h4>
        <dl>
            <dt>Progresso:</dt>
            <dd><mark>Iniciante</mark></dd>
        </dl>
        <ol>
            <li><i>Sintaxe Básica</i></li>
        </ol>
        <br>
    </main>

    {% include footer.html %}
    <script>
        src = "scripts.js"
        <!--Insere scripts pessoais-->
    </script>
</body>

</html>