/*Padrões*/
* {
  margin: 0;
  padding: 0;
  --text-color: #04241C;
  --link-color: #084b3a;
  --background-color: #ede0d0;
}

* a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  position: relative;
  height: 100%;
  background-color: var(--background-color);
}

main {
  border-left: 3px solid var(--text-color);
  border-right: 3px solid var(--text-color);
}

/*Headings*/
h1 {
  font-family: 'Limelight', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8rem;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
}

h6 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
}

p,
li {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
}

.wrapper {
  position: relative;
  display: block;
  max-height: fit-content;
  min-height: min-content;
  padding-bottom: 15vh;
}

/*Header*/
header {
  width: 100%;
  align-items: center;
}

#titleSection {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

#priceNEdition {
  aspect-ratio: 3/4;
  height: 4cm;
  display: flex;
  justify-self: self-end;
  flex-direction: column;
  align-items: center;
  border: 3px solid #04241C;
  border-radius: 5px;
  box-shadow: 3px 3px #04241C;
}

#price {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

#edition {
  padding-bottom: 0.5em;
  /* Optional: adds some space from the bottom */
}


#title {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-self: center;
}

#title a {
  color: var(--text-color);
  font-size: 5rem;
}

#profilePic {
  aspect-ratio: 3/4;
  height: 4cm;
  display: flex;
  align-items: center;
  justify-self: center;
  border: 3px solid #04241C;
  border-radius: 5px;
  box-shadow: 3px 3px #04241C;
}

#secTime {
  display: flex;
  align-items: center;
  justify-self: self-end;
}


/*Nav Bar*/
#mainNav {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #ede0d0;
  color: #04241C;
  border-top: 10px double var(--text-color);
  border-bottom: 10px double var(--text-color);
}

#mainNav>ul {
  list-style-type: none;
  display: flex;
  margin: auto;
}

.navItem {
  box-shadow: inset 0 0 0 0 #ede0d0;
  font-weight: 700;
  margin: 0 25px;
  color: #04241C;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin: .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out, padding .2s ease-in-out, border-radius .2s ease-in-out;
}

.navItem:hover {
  color: #ede0d0;
  box-shadow: inset 100px 0 0 0 #04241C;
  text-decoration: underline;
  border-radius: 5px;
  padding: 5px;
}

/*Mensagem de Introdução do Portfólio*/
#mainPage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#mensagensPgMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

#textMsgInicial {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.5;
  list-style-type: none;
  padding: 20px;
  border-right: 2px solid #04241C;
}

#nomeDestaque {
  color: #BF281B;
}

#textoSecundario {
  text-align: justify;
  padding: 1rem;
}

#technicalKnowHowIcons {
  grid-row: 2;
  width: 100%;
  border: 2px solid #04241C;
  padding: 3rem;
  box-sizing: border-box;
  text-align: center;
  justify-items: space-between;
}

#technicalKnowHowIcons img {
  width: 50px;
  height: auto;
}

/*Seção do Footer*/
footer {
  background-color: #ede0d0;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10px;
  justify-items: left;
  margin-top: 5vh;
  border-top: solid 3px #04241C;
}

footer a {
  text-decoration: none;
  color: #04241C;
}

footer a:hover {
  text-decoration: underline;
  color: #ede0d0;
  background-color: #04241C;
  border-radius: 5px;
}

/*Página de projetos*/
#projetosMainBody {
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}

#listaProjetos {
  list-style-type: none;
  text-align: center;
}

#listaProjetos a {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: #04241C;
}



#tituloProjetos {
  margin-left: 2vw;
  text-transform: uppercase;
}

#projetosMainBody p {
  margin-left: 3vw;
}

/*Página do Progresso da Graduação*/
#uniPage {
  padding: 1.5rem;
  margin-bottom: 3rem;
  min-width: 50%;
  max-width: 75%;
  min-height: fit-content;
  overflow: auto;
}

#uniPageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier Prime', monospace;
  text-transform: uppercase;
}

.uniLinks a {
  text-decoration: none;
  color: #04241C;
}

.uniLinks a:hover {
  color: #ede0d0;
  border: 2px solid #04241C;
  border-radius: 5px;
  background-color: #04241C;
}

/*Página Programação Front End*/


/*Controle responsivo da página através do @media*/
@media (max-width: 868px) {
  .wrapper {
    margin: 1em;
  }

  header {
    width: 100%;
  }

  #titleSection {
    grid-template-columns: 30% 1fr 30%;
    gap: 0.5em;
    width: 80%;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin: 1rem;
  }

  #versionNTime {
    font-size: 0.4em;
    overflow-wrap: break-word;
  }

  #titles {
    grid-column: 2;
    text-align: center;
  }

  #mainTitle {
    font-size: 2em;
    max-width: min-content;
  }

  #profilePic {
    max-width: fit-content;

  }

  #mainPage {
    display: block;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #msgInicial {
    border-right: 2px;
    padding-right: 20px;
  }

  #textMsgInicial {
    font-size: 1.3em;
    padding: 20px;
  }

  #botaoContato {
    text-decoration: underline;
  }

  #textoSecundario {
    font-size: 1.3em;
    padding: 20px;
  }

  #projetosMainBody {
    font-size: 1.2em;
  }

  .content {
    padding: 1rem;
    min-width: 90vw;
    max-width: 80vw;
    min-height: fit-content;
    overflow: auto;
  }

  .boxSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  input[type="checkbox"] {
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    padding: 10px;
  }

}