---
title: Projeto Graduação em Eng. Software.
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main id="uniPage">
        <h1>Projeto Graduação em Engenharia de Software</h1>
        <h5>Progresso: 3º Semestre Cursando</h5>
        <h4 class="uniLinks"><a href="uniProgramacaoFrontEnd.html">Programação Front-End</a></h4>
    </main>
    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"
        integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D"
        crossorigin="anonymous"></script>
    <script>
        src = "scripts.js"
        <!--Insere scripts pessoais-->
    </script>
</body>

</html>