<header>
    <div id="titleSection" class="container">
        <div id="versionNTime" class="item">
            <p>Vol. 2.0.</p>
            <p><span id="access-time"></span></p>
        </div>
        <div id="titles" class="item">
            <h1 id="mainTitle" class="subitem"><a href="index.html">Portfólio News</a></h1>
        </div>
        <div class="item">
            <img id="profilePic" class="sub-item" src="{{ '/assets/images/profilePic.png' | relative_url }}" alt="Profile Picture">
        </div>
    </div>
    <nav id="mainNav">
        <ul>
            <li><a class="navItem" href="index.html">Início</a></li>
            <li><a class="navItem" href="curriculum.pdf">Curriculum</a></li>
            <li><a class="navItem" href="projetos.html">Projetos</a></li>
            <li><a class="navItem" href="historicoescolar">Histórico Escolar</a></li>
        </ul>
    </nav>
</header>